/*RESET CSS*/
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('./font.css');
@import url('./root.css');

body {
    font-family: "NEXON Lv2 Gothic", sans-serif;
    background-color: #EFEFEF;
}

header {
    display: flex;
    justify-content: center;

    width: 100%;
    height: var(--header-height);
    background-color: var(--color-DSky);

}

#wrap {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
    width: 100%;
    height: var(--footer-height);
    border-top : 1px solid var(--border-gray);
    background-color: white;
}

.wrap {
    display: flex;
    min-width: var(--body-minWidth);
    width: var(--body-DefaulyWidth);
    height: 100%;
    margin: 0 auto;
}

* {
    text-decoration: none;
}

/*-----------------------------------*/

#header_wrap {

    padding : 0 24px;
    width: var(--body-DefaulyWidth);

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}


.header_text {
    font-size: var(--font-medium);
    font-family: "DNFForgedBlade", sans-serif;
    font-weight: 700;
    color : white;
}


#main_wrap {
    margin : 0 auto;
    display: flex;
    flex-direction: column;

    padding : 24px;
    background-color: white;
    border-left : 1px solid var(--border-gray);
    border-right : 1px solid var(--border-gray);

    min-height: calc(100vh - var(--footer-height));
    height: 100%;

    width: var(--body-DefaulyWidth);
    min-width: var(--body-minWidth);
}

#AES_result {
    overflow-wrap : anywhere;
}

#AES__wrap > h1 {
    font-size: var(--font-large);
    font-weight: bold;
}

.subtitle {
    font-size: var(--font-medium);
    font-weight: bold;
}

#aes_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#AES_decoding_wrap , #AES_encoding_wrap {
    margin-top : 15px;
    width: 49%;
    display: flex;
    flex-direction: column;

    height: 200px;

}

.three_text {
    font-size: var(--font-small);
    font-weight: bold;
    margin-bottom: 15px;
}

#aes_wrap > div > form {
    display: flex;
    flex-direction: column;
}

.padding__select {
    padding : 3px;
    width: 150px;

}

.inputBox {
    display: flex;
    margin : 10px 0;
    width: calc(100% - 20px);
    height: 60px;
    padding : 5px 10px;
}

.submitBtn {
    background-color: var(--color-sky);
    color : white;
    width: 150px;
    /*border : 1px solid var(--border-gray);*/
    border : none;
    border-radius: 10px;
    padding : 3px;
    font-weight: bold;
}

.total_result_box {
    width: calc( 100% - 10px);
    padding : 5px;
    height: 50px;
}

.wake_hr {
    width: 100%;
    margin : 20px 0;
}