<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
헤더자리
</header>

<!--내용은 main에 작성해주세요-->
<main>

    <div id="AES__wrap">

        <h1>암호화</h1>

        <hr>

        <h2>AES256 암호화</h2>
        <form id="AES_ENCODE" action="/aes256_encode" method="POST">
            <label for="AES__input">암호화할 내용</label>
            <select  id="AES__select">
                <option value="AES">AES</option>
                <option value="RSA">RSA</option>
            </select>
            <input type="text" id="AES__input" name="inputText" placeholder="암호화할 내용을 입력해주세요.">
            <button type="submit" id="AES__submit">전송</button>
        </form>

        <h2>AES256 복호화</h2>
        <form id="AES_DECODE" method="POST" action="AES256_decode">
            <label for="AES__input">복호화할 내용</label>
            <input type="text" id="AES__input_de" name="inputText"  placeholder="복호화할 내용을 입력해주세요.">
            <button type="submit" id="AES__submit_de">전송</button>
        </form>

        <div id="AES_result">
            <p th:text="${result}"></p>
        </div>


    </div>

</main>

<footer>
    푸터자리
</footer>

</body>
</html>